// .chatcontrol{
//   float: left;
//   width: 100%;
//   font-family: 'Orbitron', sans-serif;

//   .chatinput{
//     width: 80%;
//     float: left;
//     border-radius: 0;
//   }

//   .sendbtn{
//     width: 20%;
//     float: left;
//     border-radius: 0;
//     text-transform: uppercase;
//   }

//   input{
//     background-color: white;
//     height: 38.5px;
//     padding: 10px;
//     color:rgb(16, 93, 138);
//   }
//   input:focus{
//     box-shadow: inset 0 -5px 45px rgba(23, 97, 182, 0.4), 0 1px 1px rgba(30, 130, 245, 0.4);
//   }
// }
.instruction {
  padding-bottom:10px;
  }

  .terminal-input {
    background:none;
    border:none;
    color:white;
  }

  .user-request .user {
  display: inline-block;
  color: rgba(255,66,64,1); /* #ff4240 */
  }
  .user-request .symbol {
  display: inline-block;
  margin:0px 6px 0px 2px;
  }
  .answer {
  color:rgba(215,215,215,1);
  }
  .answer a {
  color:rgba(215,215,215,1);
  }
  .answer a:hover {
  color:rgba(215,215,0,1);
  }
  .answer::before {
  content:'>';
  display: inline-block;
  padding-right: 5px;
  }
  .user-request .user-input {
  min-width: 10px;
  display: inline-block;
  }
  .user-request .user-input:focus {
  outline: 0px;
  }
  /*.user-request input.request,
  .user-request input.request:focus {
  border:0;
  border-bottom: 1px dotted rgba(255,255,255,.2);
  background: transparent;
  box-shadow: none;
  outline:1px red;
  font-family: 'Source Code Pro', monospace;
  color:rgba(255,255,255,1);
  }*/
  .user-request .terminal-symbol {
  font-size: 120%;
  font-weight: bold;
  animation: blink .5s ease-in-out;
  animation-iteration-count: infinite;
  }
