.chatform{
  width: 600px;
  margin: 0 auto;
  margin-top: 10%;
}

.circle{
  width: 160px;
  height: 160px;
  border:1px solid #87e0fd;
  position:absolute;
  margin: auto;
  left:0;
  right:0;
  top:0;
  bottom:77%;
  border-radius: 50%;
  background-image: url('../assets/images/dorocenter.png');
  animation :rotato .4s .3s linear infinite;
  &:after{
    content:'';
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
background-color:filter-gradient(#87fd9b, #18CDCA, vertical); // IE6-9
background-image:linear-gradient(top,  #87e0fd 0%,#18CDCA 100%);

    border-radius: 50%;
    opacity: .3;
  }
}

.blob{
  width: 100%;
  height: 100%;
  position:absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #88B5D6;
  opacity: 0.3;
  border-radius: 50px;
}

.blob1{
  animation :rotato .4s .1s linear infinite;
}
.blob2{
  animation : rotato .1s .3s linear infinite;
}
.blob3{
  animation : rotato .3s linear infinite reverse;
}

@keyframes rotato {
  to {
   transform: rotate(359deg);
  }
}
