<div class="wrapper">

  <div id="particles-js">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  </div>
  <!-- Add your site or application content here -->
  <div class="is-loading">
    <header class="round">
      <div class="round-group">
        <div class="round-item round-bg">
          <div class="round-item round-top"></div>
          <div class="round-item round-top"></div>
        </div>
      </div>
    </header>
    <main class="terminal">
      <header class="terminal-header">
        <div class="terminal-header-item">Terminal session</div>
        <div class="terminal-header-item">
          <button class="terminal-header-btn minimize" disabled>
            <i class="fa fa-window-minimize" aria-hidden="true"></i>
          </button>
          <button class="terminal-header-btn maximize">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
          </button>
          <button class="terminal-header-btn close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>

        </div>
      </header>
      <div class="terminal-content">
        <!-- <div class="message">
          ********************************************<br>
          * I'm still learning from you.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*<br>
          * So I'm constantly upgrading my skills.&nbsp;&nbsp;&nbsp;*<br>
          * All commands of last week are inactive.&nbsp;&nbsp;*<br>
          ********************************************<br>
          &nbsp;
        </div> -->
        <div class="instruction">
          <div class="user-request">
            <span class="user">dorothAI@becode</span>
            <span class="symbol">:~$</span>
            <span class="request">connexion -u {{ user }}</span>
          </div>
          <div #scroller class="feedWrapper">
            <message-list class="answer" [messages]="messages"></message-list>
          </div>
        </div>
        <message-form [message]="message" [messages]="messages"></message-form>

      </div>
      <footer class="terminal-footer">Created by "The Nines" -
        <a href="http://www.becode.org" target="_blank">BeCode Project</a> -
        <a href="cookies-policy.html" target="_blank">Cookies policy</a> -
        <a [routerLink]="['/privacy']" target="_blank">Privacy</a>
      </footer>
    </main>
  </div>
